/* colors
lime-green #b4ff52
green #8bc53f
dark-gray #2b2b2b

*/

/* global style */
body {
    font-family: "aktiv-grotesk",sans-serif;
}

h1  {
    color:white;
    /* font-family: "coolvetica",sans-serif; */
    /* font-family: "niveau-grotesk",sans-serif; */
    font-family: "aktiv-grotesk",sans-serif;
    font-style: regular;
    font-weight: 700;
}

h2 {
    color:white;
    /* font-family: "coolvetica",sans-serif; */
    font-family: "aktiv-grotesk",sans-serif;
    /* font-family: "niveau-grotesk",sans-serif; */
    font-style: normal;
    font-weight: 200;
}

h5 {
    color:white;
    /* font-family: "coolvetica",sans-serif; */
    /* font-family: "niveau-grotesk",sans-serif; */
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
}

#landing-background {
    padding:0px;
}

.btn.btn-secondary {
    border-radius: 0px;
    background-color: white;
    color: #2b2b2b;
    border: none;
}

a {
    color: #b4ff52;
    font-size: 1.25rem;
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
}

a:hover {
    /* color: #b4ff52; */
    color: #8bc53f;
    text-decoration: none;
}

/* parallax animation */
.rellax {
    position: absolute;
}

.rellax-horizontal {
    position: absolute;
}

.invisible {
  transition: opacity 0.5s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}

.animateIn {
    transition: left 4s ease;
    position: absolute;
    left: 200px;
}

.animateOut {
    transition: left 4s ease;
    position: absolute;
    left:0px;
}

#boat {

}

/*side bar nav*/
.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #ECECEC;
  background-color: #f7f7f9;
  overflow-y: scroll;
  z-index: 1000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
 @include media-breakpoint-up(xs) { width: 85%; }
 @include media-breakpoint-up(sm) { width: 50%; }
 @include media-breakpoint-up(md) { width: 25%; }
}

.navbar-side-item {
 padding: 1.5rem 0;
 margin: 0;
 border-bottom: 2px solid #ECECEC;
 height: 4rem;
 font-family: "niveau-grotesk";
}

.side-link {
 padding-left: 2rem;
  color: #4B4B4B;
}

.reveal {
 -webkit-transform: translateX(0%);
 -ms-transform: translateX(0%);
 transform: translateX(0%);
 -webkit-transition: 300ms ease;
 transition: 300ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ECECEC;
  opacity: 0.6;
  z-index: 990;
}

.nav-logo {
    width: 150px;
}

/* sections */
#body-under-parallax {
    /* background-color: #2b2b2b; */
    position: absolute;
    top: 100vh;
    padding: 0px;
    overflow-x: hidden;
}

#hello-section {
    background-color: #2b2b2b;
    position: relative;
    padding-bottom: 200px;
    padding-top: 20px;
}

#my-work {
    padding-top: 100px;
    background-color: white;
}

#my-work h1 {
    color: #2b2b2b;
}

/* cards */
/* .card {
    border-radius: 0px;
}

.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:500;
    color:#8bc53f;
}
.profile-card-2 .card-text{
    font-weight:200;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#6ab04c;
  color:#fff;
} */

.card {
  float: left;
  /* padding: 0 1.7rem; */
  width: 100%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
  font-weight: 200;
}
.card .title {

}
.card .text {
  height: 70px;
  margin: 0;
  font-weight: 200;
}
.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

#card-1.example-2 .wrapper {
  background: url("seed_site_demo_2.jpg") center/cover no-repeat;
}

#card-2.example-2 .wrapper {
  background: url("stanley-lake-demo.jpg") center/cover no-repeat;
}
.example-2 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
  font-weight: 200;
}
.example-2 .header::before, .example-2 .header::after {
  content: '';
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}
.example-2 .menu-content {
  float: right;
}
.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-2 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
  font-size: 2rem;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 13px;
  color: #b4ff52;
  line-height: 1;
  position: relative;
  font-weight: 200;
}
.example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}

.example-2 .menu-content svg {
    margin:5px;
    margin-top: 0px;
}

.example-2 .menu-content img {
    margin: 5px;
    margin-top: 0px;
    width: 17px;
    float: left;
    position: relative;
}
