/* colors
lime-green #b4ff52
green #8bc53f
dark-gray #2b2b2b

*/

/* global style */
body {
    font-family: "aktiv-grotesk",sans-serif;
}

h1  {
    color:white;
    /* font-family: "coolvetica",sans-serif; */
    /* font-family: "niveau-grotesk",sans-serif; */
    font-family: "aktiv-grotesk",sans-serif;
    font-style: regular;
    font-weight: 700;
}

h2 {
    color:white;
    /* font-family: "coolvetica",sans-serif; */
    font-family: "aktiv-grotesk",sans-serif;
    /* font-family: "niveau-grotesk",sans-serif; */
    font-style: normal;
    font-weight: 200;
}

h5 {
    color:white;
    /* font-family: "coolvetica",sans-serif; */
    /* font-family: "niveau-grotesk",sans-serif; */
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
}

h6{
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #a0a0a0;
}

p {
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 300;
}

#landing-background {
    padding:0px;
}

.btn.btn-secondary {
    border-radius: 0px;
    background-color: white;
    color: #2b2b2b;
    border: none;
}

a {
    color: #b4ff52;
    font-size: 1.25rem;
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
}

a:hover {
    /* color: #b4ff52; */
    color: #8bc53f;
    text-decoration: none;
}

li {
    font-family: "aktiv-grotesk",sans-serif;
    font-style: normal;
    font-weight: 300;
}

ul {
    padding-left: 20px;
}

.cls-1 {
    fill:#2b2b2b;
}

#side-menu-toggle {
    color:#2b2b2b;
}

.case-container {
    margin-top: 150px;
}

.screenshot {
    box-shadow: 0px 0px 20px 0px #8888884d;
}

/* parallax animation */
.rellax {
    position: absolute;
}

.rellax-horizontal {
    position: absolute;
}

.invisible {
  transition: opacity 0.5s ease;
  opacity: 0.0;
}

.visible {
  transition: opacity 0.5s ease;
  opacity: 1.0;
}

.animateIn {
    transition: left 4s ease;
    position: absolute;
    left: 200px;
}

.animateOut {
    transition: left 4s ease;
    position: absolute;
    left:0px;
}

#boat {

}

/*side bar nav*/
.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #ECECEC;
  background-color: #f7f7f9;
  overflow-y: scroll;
  z-index: 1000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
 @include media-breakpoint-up(xs) { width: 85%; }
 @include media-breakpoint-up(sm) { width: 50%; }
 @include media-breakpoint-up(md) { width: 25%; }
}

.navbar-side-item {
 padding: 1.5rem 0;
 margin: 0;
 border-bottom: 2px solid #ECECEC;
 height: 4rem;
 font-family: "niveau-grotesk";
}

.side-link {
 padding-left: 2rem;
  color: #4B4B4B;
}

.reveal {
 -webkit-transform: translateX(0%);
 -ms-transform: translateX(0%);
 transform: translateX(0%);
 -webkit-transition: 300ms ease;
 transition: 300ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ECECEC;
  opacity: 0.6;
  z-index: 990;
}

.nav-logo {
    width: 150px;
}
